//- Hidden image used by the Aviary SDK
img.source(src='img/default.png')
.photo-wrap
    .photo
        .img
//- When you click on the edit button in the menu, the front photo is cut in half et goes sideways to show the Aviary
//- editor.
//- This is the left one
.editor-pane-left
    .photo
        .img
//- This is the right one
.editor-pane-right
    .photo
        .img