//- Hidden image used by the Aviary SDK
img#photo(src='img/paris.jpg')
//- When you click on the edit button in the menu, the front photo is cut in half et goes sideways to show the Aviary editor.
//- This is the left one
div#photo-left: img(src='img/paris.jpg')
//- This is the right one
div#photo-right: img(src='img/paris.jpg')