@import 'vars'

#editor
    position fixed
    width 100%
    height 100%
    top 0
    left 0

    .source
        display none;

    #avpw_holder
        width 100%
        height 100%
        z-index 50
        opacity 0
        -webkit-filter grayscale(100%)
        transform translateZ(0)

        transition-property opacity, -webkit-filter
        transition-duration 1s
        transition-delay 500ms


    // The open class is applied to each wrapper because the one on .photo-wrap is not added or remove
    // simultaneously with .photo-wrap-left and .photo-wrap-right
    .photo-wrap
        &.open
            opacity 0
            & ~ #avpw_holder
                opacity .8
                -webkit-filter grayscale(0)
        &-left.open
            opacity 1
            transform translateX(-100%)
        &-right.open
            opacity 1
            transform translateX(100%)


    // The change class is applied when transitioning from one image to another (after an import).
    &.change
        &[data-transition='luminance'] .photo-wrap .img
            opacity 0
            -webkit-filter blur(150px) brightness(4)
        &[data-transition='fade'] .photo-wrap .img
            opacity 0


    // Transition configuration
    &[data-transition='luminance'] .photo-wrap .img
        transition -webkit-filter 1.5s, opacity 1.5s
    &[data-transition='fade'] .photo-wrap .img
        transition opacity 1.5s


    // Size configuration
    &[data-size='contain'] .img
        background-size contain
    &[data-size='cover'] .img
        background-size cover


    .photo-wrap

        &,
        &-left,
        &-right
            position fixed
            width 100%
            height 100%
            top 0
            bottom 0
            left 0
            overflow hidden
            transform translateZ(0)
            .img
                width 100%
                height 100%
                background-repeat no-repeat
                background-position top center
                background-color $bg
                background-image url('img/default.png')

        &
            pointer-events none
            z-index 101
            right 0
            .photo
                width 100%
                height 100%

        &-left,
        &-right
            opacity 0
            z-index 100
            width 50%
            transition transform 1.5s
            .photo
                width 200%
                height 100%

        &-right
            right 0
            left auto
            .photo
                transform translateX(-50%)
