@import 'vars'

#editor
    position fixed
    width 100%
    height 100%
    top 0
    left 0

    .source
        display none;

    #avpw_holder
        width 100%
        height 100%
        z-index 50
        opacity 0.8
        -webkit-filter grayscale(100%)
        transform translateZ(0)

        transition-property opacity, -webkit-filter
        transition-duration 1s
        transition-delay 0ms


    // This class is applied when opening the panes of the editor in order to reveal the aviary editor.
    // It works in combination with .hide-photo.
    &.show-editor .editor-pane
        &-left
            transform translateX(-100%)
        &-right
            transform translateX(100%)
            & ~ #avpw_holder
                opacity 1
                -webkit-filter grayscale(0)
                transition-delay 500ms

    // This class is applied when opening the panes of the editor in order to reveal the aviary editor.
    // It hides the forefront photo.
    &.hide-photo
        .photo-wrap
            opacity 0
            transition none



    // This class is applied when changing the forefront photo after an import.
    // It hides everything related to the editor (panes + aviary editor).
    // It works in combination with .show-photo.
    &.hide-editor
        .editor-pane-left,
        .editor-pane-right,
        #avpw_holder
            transition none
            opacity 0

    // Transition luminance used to change the photo after an import
    &[data-transition='luminance']
        .photo-wrap .img
            transition -webkit-filter 1.5s, opacity 1.5s
        &.show-photo .photo-wrap .img
            opacity 0
            -webkit-filter blur(150px) brightness(4)

    // Transition fade used to change the photo after an import
    &[data-transition='fade']
        .photo-wrap .img
            transition opacity 1.5s
        &.show-photo .photo-wrap .img
            opacity 0



    // Size configuration
    &[data-size='contain'] .img
        background-size contain
    &[data-size='cover'] .img
        background-size cover



    .photo-wrap,
    .editor-pane-left,
    .editor-pane-right
        position fixed
        width 100%
        height 100%
        top 0
        bottom 0
        left 0
        overflow hidden
        transform translateZ(0)
        .img
            width 100%
            height 100%
            background-repeat no-repeat
            background-position top center
            background-color $bg
            background-image url('img/default.png')

    .photo-wrap
        pointer-events none
        z-index 101
        right 0
        .photo
            width 100%
            height 100%

    .editor-pane
        &-left,
        &-right
            z-index 100
            width 50%
            transition transform 1.5s
            .photo
                width 200%
                height 100%

        &-right
            right 0
            left auto
            .photo
                transform translateX(-50%)
