
#editor

    #photo
        display none

        &-left,&-right
            position fixed
            top 0
            bottom 0
            z-index 100
            width 50%
            height 100%
            overflow hidden
            will-change transform

            transition-property transform
            transition-duration 1.5s
            transition-timing-function ease-in-out

            img
                width 200%
                height 100%

        &-left
            left 0

        &-right
            right 0

            img
                transform translateX(-50%)


    &.open

        #photo

            &-left
                transform translateX(-100%)

            &-right
                transform translateX(100%)