.wave-popin
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 100


    &.shown
        .overlay
            opacity 1
        .content-wrapper,
        .shape
            transform translate3d(0,0,0)



    .content-wrapper
        position fixed
        bottom 0
        left 0
        width 100%
        height 160px
        z-index 102
        transform translate3d(0,100%,0)
        transition-property transform


    .shape
        position absolute
        width 100%
        width calc(100% + 400px)
        height 100%
        top 0
        left 0
        fill rgba(#373a47,.8)
        transform translate3d(-400px,0,0)
        transition-property transform
        z-index 103

    .content
        position relative
        z-index 104

    .overlay
        opacity 0
        background-color rgba(black, .2)
        transition-property opacity
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        z-index 101

    .icon-close
        position absolute
        top 0rem
        right 5px
        margin auto
        width 1rem
        transition-property transform
        transition-delay 800ms
        color white
        z-index 103
        font-size 1.2rem
        &.hidden
            transform rotate(-30deg) scale(0, 0)
            pointer-events none