div.content-wrapper
    div.shape(data-morph-open='M0,100h1000V0c0,0-136.938,0-224,0C583,0,610.924,0,498,0C387,0,395,0,249,0C118,0,0,0,0,0V100z')
        svg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewbox='0 0 1000 100', preserveaspectratio='none')
            path(d='M0,100h1000l0,0c0,0-136.938,0-224,0c-193,0-170.235-1.256-278-35C399,34,395,0,249,0C118,0,0,100,0,100L0,100z')
    div.content
        if contentTemplate
            !=contentTemplate
div.overlay