@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(font/HrI4ZJpJ3Fh0wa5ofYMK8cDdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}