@import 'vars'

body
    background-color $bg
    font-family Helvetica, Arial

.fonts-loaded body
    font-family Nunito, Helvetica, Arial

.ellipsis
    overflow hidden
    text-overflow ellipsis
    white-space nowrap