.import-view

    &.shown .wave-popin-content .uri
        opacity 1

    .wave-popin-content
        text-align center
        color #eee

        .uri
            margin-top 2.5rem
            font-size 1.1rem
            opacity 0
            transition-property opacity
            transition-delay 200ms
