.import-view

    z-index 200

    &.shown .content .uri
        opacity 1

    .content
        text-align center
        color #eee

        .uri
            padding 0 1rem
            margin-top 20px
            opacity 0
            background rgba(white,.1)
            line-height 60px

            transition-property opacity
            transition-delay 200ms

            display flex
            align-items center
            justify-content center

            .label
                min-width 8rem

            .path
                font-family 'Poiret One'
                margin-left 16px

        .progress
            overflow hidden
            width 80%
            margin-top 30px
            height 20px
            position relative
            margin 30px auto

            .message, .progress-bar
                transition-property opacity, transform
                position absolute
                top 0
                left 0
                width 100%
                height 100%

            &.failed
                .message
                    opacity 1
                    transform scale(1)
                .progress-bar
                    opacity 0
                    transform scale(1.1)

            .message
                color #FF2D55
                opacity 0
                transform scale(.9)

            .progress-bar
                border 2px solid #fff
                overflow hidden

                .progress-value
                    background-color #fff
                    width 100%
                    height 100%
                    transform translateX(-100%)
                    transition transform 400ms
