doctype html
html
    head
        title Aviary Photo Editor
        link(rel='stylesheet', type='text/css', href='app.css')
    body

        //- This is an hidden input file that will allow opening the native open dialog.
        input#open-dialog.hidden(type='file')
        input#save-dialog.hidden(type='file',nwsaveas)

        //- Injected list of vendor file to avoid adding a library manually and have the right order of injection
        //- written several times accross the project
        each js in vendors
            script(src=js)

        //- Templates used in this app
        script(src='templates.js')

        //- Main
        script(src='app.js')

        //- Boot the app
        script modules.boot();
